// Vendor
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

// App
@import "products";

// Global
body {
  padding-top: 70px;
}

// Bootstrap adjustments
form.button_to {
  display: inline;
}

// Signup form
.signup-form {
  margin-top: 30px;
  
  .feedback-message {
    margin-top: 8px;
    font-size: 0.9em;
    min-height: 20px;
    
    &.text-success {
      color: #3c763d;
    }
    
    &.text-danger {
      color: #a94442;
    }
    
    i {
      margin-right: 5px;
    }
  }
  
  .form-group {
    margin-bottom: 20px;
  }
}
